
apache-airflow==2.10.4
--constraint https://raw.githubusercontent.com/apache/airflow/refs/tags/constraints-2.10.4/constraints-3.11.txt

apache-airflow-providers-apache-kafka
apache-airflow-providers-celery
apache-airflow-providers-common-sql
apache-airflow-providers-docker
apache-airflow-providers-imap
apache-airflow-providers-odbc
apache-airflow-providers-postgres
apache-airflow-providers-redis
apache-airflow-providers-smtp
apache-airflow-providers-sqlite
apache-airflow-providers-ssh

airflow-config
airflow-ha
airflow-supervisor
airflow-priority
